*{
    padding: 0;
    margin: 0;
    font-family: Century Gothic;

}
.login-container {
    margin-top: 30px;
    padding: 20px 40px;
}
.login-container-box {
    width: 100%;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.login-image img {
    margin-left: 15vh;
    height: 300px;
    width: 300px;
}
.login-desc {
    width: 45vh;
    margin-right: 50px;
}
.login-desc h1 {
    color: #0c7513;
    font-size: 36px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #0c7513;
}
.school-links {
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.wmsu {
    margin-right: 50px;
}
.ics {
    margin-left: 50px;
}
.wmsu-link {
    color:black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.wmsu-link:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    text-decoration: none;
}
.ics-link {
    color:black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ics-link:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    text-decoration: none;
}
.wmsu-img {
    margin-right: 15px;
    height: 100px;
    width: 100px;
}
.ics-img {
    margin-left: 20px;
    margin-right: 15px;
    height: 100px;
    width: 100px;
}
.login-forgot-password {
    text-decoration: none;
}